# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `golang test -c`
*.test

# Output of the golang coverage tool, specifically when used with LiteIDE
*.out

# Visual Studio Code
.vscode/
tempCodeRunnerFile.go

# Built files
main

# macOS
.DS_Store

# Env
.env

# JetBrains
.idea/
http-requests/

# Build files
bin/